<h1><%= @cocktail.name %></h1>
<div  class = "cocktailCard">
  <div class="flexbox">
    <div>
      <div class = "cocktailPic">
      <br><%= cl_image_tag @cocktail.photo.key, height: 300 %>
      </div>
    </div>
    <br>
    <div class="ingredients">
      <ul>
        <h3>INGREDIENTS</h3>
        <% @cocktail.doses.each do |dose| %>
        <li><h3><%= dose.ingredient.name %> <%= dose.description %>
        <h2><%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="fa fa-trash"></i>
        <% end %></h3>
        </li>
        <% end %>
      </ul>
    </div>
    <br>
    <div class="actions">
        <h3>ACTIONS</h3>
        <hr>
        <%= link_to 'ADD A DOSE', new_cocktail_dose_path(@cocktail) %>"
        <hr>
        <%= link_to cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure?" } do %>
          DELETE
        <% end %>
        <hr>
        <%= link_to 'BACK TO THE BAR', cocktails_path %>
        <hr>
    </div>
  </div>
</div>
